{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!-- Page content -->



 

 <div class="container mt-5">
  <h2 class="mb-4">Bem-vindo ao Sistema de Controle de Gastos</h2>
  <p>Sistema para registrar e visualizar gastos por data, com calendário interativo, cadastro de compras e interface responsiva.</p>
  
  <h3 class="mt-4">Funcionalidades:</h3>
  <ul>
    <li><strong>Compras por Dia:</strong> Visualize os gastos organizados por data.</li>
<li><strong>Nova Transação:</strong> Cadastre despesas facilmente.</li>
<li><strong>Balanço Mensal:</strong> Acompanhe seus totais mensais.</li>
<li><strong>Interface Responsiva:</strong> Funciona bem em qualquer dispositivo.</li>

  </ul>
  {% if user.is_authenticated %}
  <a href="{% url 'cal:calendar' %}" class="btn btn-primary mt-3">Ver Calendário</a>
  {% else %}
                            <a href="{% url 'login' %}" class="btn btn-outline-success">Login</a>
                        {% endif %}
</div>

 
 
{% endblock %}



